@-webkit-keyframes sparkle-typing-blink {
  0% {
    background-color: #80ff00;
    box-shadow: 0 0 10px 3px #00ff00;
  }
  50% {
    background-color: #000000;
    box-shadow: none;
  }
  100% {
    background-color: #80ff00;
    box-shadow: 0 0 10px 3px #00ff00;
  }
}
@keyframes sparkle-typing-blink {
  0% {
    background-color: #80ff00;
    box-shadow: 0 0 10px 3px #00ff00;
  }
  50% {
    background-color: #000000;
    box-shadow: none;
  }
  100% {
    background-color: #80ff00;
    box-shadow: 0 0 10px 3px #00ff00;
  }
}
.sparkle-typing-cursor {
  -webkit-animation-name: sparkle-typing-blink;
          animation-name: sparkle-typing-blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: baseline;
}
